<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Diseño Multimedia</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h2 id="titulo">Diseño</h2>
                <h2 id="titulo1">Multimedia</h2>
            </div>
            <nav>
                <ul id="contenido">
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="../templates/nosotros.html" >NOSOTROS</a></li>
                    <li><a href="../templates/servicios.html">SERVICIOS</a></li>
                    <li><a href="../templates/contacto.html"class="color">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <hr>
    <main>
        <section class="suscribir">
            <div class="container2">
                <h3>Suscríbete a nuestro boletín</h3>
                <form>
                    <input type="email" placeholder="Ingrese el email" required>
                    <button type="button">Suscribir</button>
                </form>
            </div>
        </section>
        
        <section class="contact">
            <div class="container">
                <div class="contact-form">
                    <h3>Contacto</h3>
                    <form action="#">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" placeholder="Ingresa tu nombre" required>
                        
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Ingresa tu email" required>
                        
                        <label for="phone">Teléfono</label>
                        <input type="tel" id="phone" placeholder="Ingresa tu teléfono" required>
                        
                        <label for="cell">Celular</label>
                        <input type="tel" id="cell" placeholder="Ingresa tu celular" required>
                        
                        <label for="message">Mensaje</label>
                        <textarea id="message" placeholder="Ingresa tu mensaje" required></textarea>
                        
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <div class="contact-info">
                    <h3>Que hacemos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna.</p>
                    <img src="../assets/images/mapaGoogle.png" alt="Mapa">
                </div>
            </div>
        </section>

        <footer>
            <section class="final">
              <div class="container4">
                <h3>Graphel Desarrollo Web, copyright &copy;</h3>
              </div>
            </section>
        </footer>
      
    </main>
</body>
</html>